<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OpenTechiz_AdminNote::admin_note" title="Admin Notes" module="OpenTechiz_AdminNote" sortOrder="50" parent="Magento_Backend::system" resource="OpenTechiz_AdminNote::admin_note"/>

        <add id="OpenTechiz_AdminNote::page_note" title="Page Notes" module="OpenTechiz_AdminNote" sortOrder="10" action="adminnotes/adminnotes" resource="OpenTechiz_AdminNote::page_note" parent="OpenTechiz_AdminNote::admin_note"/>
    </menu>
</config>
